{% extends 'home.html' %}
{% block title %}
<div class="home">
    <h1>CONTACT</h1>
</div>
{% endblock %}


{% block content %}
<div class="signup">
    <form method="post" novalidate>
        {% csrf_token%}
        <table>
            <caption>Please Enter Your Contact Details Here :</caption>
            {% for i in contact %}
            <tr>
                <td>{{i.label_tag}}</td>
                <td>{{i}}</td>
                <td>{{i.errors}}</td>
            </tr>
            {% endfor %}


        </table>
        <input type="submit">
    </form>
</div>


<table class="table table-striped table-dark caption-top">
    <caption><h5><u><i> Contact Details Of Visitors:</i></u></h5></caption>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">MOBILE NO</th>
        <th scope="col">COURSE</th>
        <th scope="col">ADDRESS</th>
    </tr>
    </thead>
    <tbody>
    {% for i in details %}
    <tr>
        <td>{{i.id}}</td>
        <td> {{i.name}}</td>
        <td> {{i.email}}</td>
        <td> {{i.mobile_number}}</td>
        <td> {{i.course}}</td>
        <td> {{i.address}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}