{% extends 'home.html' %}
{% block title %}
<div class="home">
    <h1>MODULAR COURSES</h1>
</div>
{% endblock %}
{% load static %}

{% block content %}
<body class="bg-warning">
<div class="container mt-5 col d-flex justify-content-center">
    <div class="row">
        <div class="col-md-4">

            <div class="card mb-4 box-shadow" style="width: 300px; height: 550px">
                <img src="{% static 'image/python.jpeg' %}" class="card-img-top img-fluid " alt="Image"
                     style="width: 100%; height: 200px">
                <div class="card-header">
                    <h4 class="my-2 font-weight-normal">PYTHON</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">₹ 10,000<small class="text-muted"></small></h1>
                    <ul class="list-unstyled mt-5 mb-4">
                        <li>30 Seats</li>
                        <li>2 Hrs Daily</li>
                        <li>2 Months Duration</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Enroll Now</button>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
{% endblock %}